<div class="container-fluid" style="background-color:#f8f9fa; min-height: 100vh;">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-2 sidebar p-3 d-flex flex-column" style="background-color: white; height: 100vh;">
        <app-side-bar></app-side-bar>
        <a href="#" class="text-danger mt-auto btn btn-danger text-white" (click)="logout()">Déconnexion</a>
      </div>
  
      <!-- Formulaire -->
      <div class="col-md-10 d-flex justify-content-center align-items-center">
        <div class="card p-5 shadow-sm" style="width: 70%; background-color: white; border-radius: 10px;">
          <h3 class="mb-4 font-weight-bold">Votre Annonce</h3>
          <form [formGroup]="annonceForm" (ngSubmit)="ajouterAnnonce()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Titre de l'annonce</label>
                  <input type="text" formControlName="titre" class="form-control">
                </div>
  
                <div class="form-group">
                  <label>Description de l'annonce</label>
                  <textarea formControlName="description" class="form-control"></textarea>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="form-group">
                  <label>Date limite</label>
                  <input type="text" formControlName="dateLimite" class="form-control">
                </div>
                <div class="form-group">
                  <label>Année Académique</label>
                  <select formControlName="academiqueId" class="form-control">
                    <option value="" disabled selected>-- Sélectionnez une année --</option>
                    <option *ngFor="let annee of anneesAcademiques" [value]="annee.id">
                      {{ annee.annee }}
                    </option>
                  </select>
                </div>
                
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success btn-lg mt-3" style="width: 100%;" [disabled]="annonceForm.invalid">
                PUBLIER UNE ANNONCE
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  