<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100 shadow login-box">
      <div class="col-md-6 p-0">
        <img src="photo_2025-01-21_13-29-00.jpg" alt="login image" class="img-fluid h-100 w-100 object-cover">
      </div>
      <div class="col-md-6 d-flex align-items-center p-4">
        <div class="w-100">
          <img src="photo_2025-02-05_17-01-37.jpg" alt="" width="300" height="200" style="margin-left:100px;">
          <h2 class="text-center mb-4">Connectez-vous à votre compte</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email:</label>
              <div class="input-group">
                  <input id="email" formControlName="email" type="email" class="form-control" placeholder="Entrez votre email">
                  <span class="input-group-text"><i class="fa-solid fa-envelope" style="color: #63E6BE;"></i></span>
              </div>
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
                <small *ngIf="loginForm.get('email')?.hasError('required')">L'email est requis.</small>
                <small *ngIf="loginForm.get('email')?.hasError('email')">L'email doit être valide.</small>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="password" class="form-label">Mot de passe:</label>
              <div class="input-group">
                  <input id="password" formControlName="password" type="password" class="form-control" placeholder="Entrez votre mot de passe">
                  <span class="input-group-text"><i class="fa-solid fa-lock" style="color: #63E6BE;"></i></span>
              </div>
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                <small *ngIf="loginForm.get('password')?.hasError('required')">Le mot de passe est requis.</small>
                <small *ngIf="loginForm.get('password')?.hasError('minlength')">Le mot de passe doit avoir au moins 6 caractères.</small>
              </div>
            </div>
            <div class="mb-3 text-end">
              <a href="#" class="text-muted">Mot de passe oublié ?</a>
            </div>
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success w-100">Connexion</button>
            <p class="mt-3 text-center">
              Vous n'avez pas encore de compte ? <a routerLink="/register" class="text-success" (click)="goToRegister()">Inscrivez-vous</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  