<img src="photo_2025-02-05_17-01-37.jpg" alt="Logo" width="150" height="80" style="margin-left:10px;">
        <ul class="nav flex-column mt-4">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/accueil-admin"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-dark" routerLink="/candidats"><i class="fas fa-users"></i>Candidats</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-dark" routerLink="/annee-academique"><i class="fas fa-calendar-alt"></i>Années</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-dark" routerLink="/reglages"><i class="fas fa-cog"></i>Réglages</a>
          </li>
        </ul>
